.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.header__logo {
    z-index: 11;
}

.header__logo img {
    max-width: 174px;
}

.nav {}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__item {}

.nav__link {
    display: block;
    padding: 5px 0px;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: -13px;
    top: -8px;
    width: 34px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--accent-color);
    opacity: 0;
    transition: var(--transition-duration);
}

.nav__link:hover::before {
    opacity: 1;
}

.burger__button {
    width: 50px;
    aspect-ratio: 1;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.burger__button span {
    position: relative;
}

.burger__button span,
.burger__button span::after,
.burger__button span::before {
    width: 30px;
    height: 3px;
    background: var(--accent-text);
    display: block;
    border-radius: 100px;
    transition: var(--transition-duration);
}

.burger__button span::after,
.burger__button span::before {
    content: '';
    position: absolute;
}

.burger__button span::after {
    bottom: -8px;
}

.burger__button span::before {
    top: -8px;
}

.body--opened-menu .burger__button span {
    background: none;
}

.body--opened-menu .burger__button span::after {
    bottom: 0;
    transform: rotate(45deg);
}

.body--opened-menu .burger__button span::before {
    top: 0;
    transform: rotate(-45deg);
}


/* -----------HERO---------------------------------------- */
.hero__main {
    padding: 48px 0px 140px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.hero__content {}

.hero___info {
    color: #B197B3;
    line-height: 1.6;
    text-transform: uppercase;
    display: flex;
    margin-bottom: 20px;
}

.hero___info span {
    display: flex;
    align-items: center;
}

.hero___info span:not(:last-child)::after {
    content: '';
    display: block;
    width: 4px;
    aspect-ratio: 1;
    background: #B197B3;
    margin: 0 10px;
    border-radius: 50%;
}

.title {
    color: var(--accent-text);
    font-family: "Gabriola", sans-serif;
    font-size: 74px;
    font-weight: 400;
    line-height: .82;
}

.hero__title {
    max-width: 519px;
    margin-bottom: 30px;
}

.hero__text {
    max-width: 358px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 358px;
    width: 100%;
}

.hero__image {
    margin-right: 247px;
    position: relative;
}

.hero__image>img {
    width: 100%;
}

.hero__image-control {
    position: absolute;
    bottom: 11%;
    left: calc(100% - 39px);
    max-width: 200px;
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: left;
}

.hero__image-control--mobile {
    display: none;
}

.hero__image-button {
    position: relative;
    box-shadow: 0px 4px 20px 0px rgba(184, 148, 126, 0.3);
    background: var(--accent-bg);
    width: 78px;
    aspect-ratio: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.hero__image-button img {
    padding-left: 8.8%;
}

.hero__image-button::before {
    content: '';
    display: block;
    position: absolute;
    inset: 5px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition-duration);
}

.hero__image-button:hover::before {
    opacity: 1;
}
